/* Reset básico para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de fundo principal */
body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da tela */
}

/* Cabeçalho */
header {
    background-color: #7D00DD;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

/* Layout da página */
.container {
    display: flex;
    flex-grow: 1; /* Permite que o container cresça para ocupar o espaço disponível */
}

/* Faixa lateral esquerda */
.sidebar {
    background-color: #7D00DD;
    width: 100px;
    padding: 20px;
    height: 0; /* Garante que a barra lateral ocupe toda a altura da página */
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

/* Estilo do conteúdo principal */
.content {
    flex-grow: 1; 
    padding: 20px;
}

/* Rodapé */
footer {
    background-color: #7D00DD;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    position: relative; /* Fixa o rodapé na parte inferior */
    bottom: 0; /* Posiciona o rodapé na parte inferior da página */
    left: 0;
    right: 0; /* Garante que o rodapé ocupe toda a largura da página */
}

