/* Reset básico para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de fundo principal */
body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    background-color: #7D00DD;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

/* Layout da página */
.container {
    display: flex;
    height: calc(100vh - 120px); /* Subtraímos a altura do cabeçalho e rodapé */
}

/* Faixa lateral esquerda */
.sidebar {
    background-color: #7D00DD;
    width: 100px;
    padding: 20px;
    height: 100%;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

/* Estilo do conteúdo principal */
.content {
    flex-grow: 1; 
    padding: 20px;
}

/* Rodapé */
footer {
    background-color: #7D00DD;
    color: #FFFFFF;
    left:10px; 
    text-align: center;
    padding: 10px;
}

